* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: monospace;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.perspective {
  width: 100%;
  perspective: 1000px;
}
.card {
  width: 270px;
  height: 413px;
  margin: auto;
  box-shadow: 0 70px 63px -60px #494848;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
}
.card .thumb {
  background-image: url(image.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.card .thumb::after {
  content: "";
  background: inherit;
  display: block;
  position: absolute;
  left: -90px;
  top: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(55px);
}
.card h2 {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 30px;
  font-weight: 100;
  transform: translateZ(80px);
}
.card span {
  position: absolute;
  bottom: 40px;
  right: -80px;
  font-size: 30px;
  font-weight: 900;
  transform: translateZ(35px);
}
